
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 100px;
  margin-right: 10px;
}


.shortner{

  display: flex;

 justify-content: center;
 background-image: '../image/'; 
 background-size: cover;
 background-repeat: no-repeat; 

}
